<h2>Pages</h2>
<li><a href='{{ site.url }}/'>Home</a></li>
<li><a href='{{ site.url }}/pages/about'>About</a></li>
<li><a href='{{ site.url }}/blog/'>Lab Notebook</a></li>
<li><a href='{{ site.url }}/pages/projects'>Code</a></li>
<li><a href='{{ site.url }}/pages/cv'>CV</a></li>
<li><a href='{{ site.url }}/pages/publications'>Publications</a></li>
<li><a href='{{ site.url }}/pages/research'>Research</a></li>
<li><a href='{{ site.url }}/pages/blogs'>My Blogs</a></li>
<li><a href='{{ site.url }}/pages/donors'>Donors</a></li>