<h2>Pages</h2>
<li><a href='{{ site.url }}/'>Home</a></li>
<li><a href='{{ site.url }}/about'>About</a></li>
<li><a href='{{ site.url }}/blog'>Lab Notebook</a></li>
<li><a href='{{ site.url }}/projects'>Code</a></li>
<li><a href='{{ site.url }}/Rpackages'>R Packages</a></li>
<li><a href='{{ site.url }}/cv'>CV</a></li>
<li><a href='{{ site.url }}/publications'>Publications</a></li>
<li><a href='{{ site.url }}/research'>Research</a></li>
<li><a href='{{ site.url }}/blogs'>My Blogs</a></li>
<li><a href='{{ site.url }}/donors'>Donors</a></li>