<!-- <div class="navbar navbar-fixed-top" style="margin-left: 15%; margin-right: 15%;"> -->
<div class="navbar navbar-fixed-top"  role="navigation">
<!-- <div class="navbar navbar-fixed-top"> -->
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <!-- <a class="brand" href="">Scott Chamberlain</a> -->
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://scottchamberlain.info/">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Me<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="/about.html" title="About Me">About</a></li>	
					<li class=""><a href="/vita.html" title="Vita">Vita</a></li>
				</ul>	
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blogs<b class="caret"></b></a>
				<ul class="dropdown-menu">			
					<li class=""><a href="http://sckott.github.io/" title="Recology">Recology</a></li>
					<li class=""><a href="http://ropensci.org/blog" title="rOpenSci">rOpenSci</a></li>
				</ul>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Code<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="/projects.html" title="Go to Repos">Repos@GitHub</a></li>	
					<li class=""><a href="/Rpackages.html" title="Go to R packages">R packages</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="/publications.html" title="Publications">Publications</a></li>	
					<li class=""><a href="/research.html" title="Research">Research</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li><li class="">
		  <li class="divider-vertical"></li>
		  <li class="">
				<li class=""><a href="http://ropensci.org/" title="Go to rOpenSci on GitHub" target="_blank">rOpenSci</a></li>	
		  </li>		  
		  <!-- <li class="divider-vertical"></li> -->
		
			<!--<form class="navbar-search pull-left">
  				<input type="text" class="search-query" placeholder="Search-Coming Soon">
			</form>-->
		<!-- <ul class="nav pull-right">
			<form class="navbar-search pull-right" method=get action="http://google.com/search">
				<input type=hidden name=q value=site:sckott.github.io/scott/>
				<input type=text class=search-query name=q>
				<button type=submit class="btn btn-inverse">Search</button>
			</form>
		</ul> --> 
		  <li class="divider-vertical"></li>
		  <li class="">
			<a property="account" alt="email" href="mailto:myrmecocystus@gmail.com"><i class="icon-envelope-alt" rel="tooltip" data-placement="bottom" title="email me"></i></a>
		  </li>

		  <li class="divider-vertical"></li>
		  <li class="">
				<!-- <li class=""><a href="https://twitter.com/recology_"><img src="/img/glyphicons/glyphicons_411_twitter.png" height="18" width="18"></a></li>	 -->
				<a property="account" alt="twitter" href="https://twitter.com/recology_"><i class="icon-twitter" rel="tooltip" data-placement="bottom"title="follow me on Twitter"></i></a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
				<!-- <li class=""><a href="https://github.com/sckott"><img src="/img/glyphicons/glyphicons_401_github.png" height="18" width="18"></a></li> -->	
				<a property="account" alt="github" href="https://github.com/sckott"><i class="icon-github" rel="tooltip" data-placement="bottom" title="follow me on Github (code, research)"></i></a>
		  </li>

		  <!-- <li class="divider-vertical"></li> -->
			<!-- <li class=""> -->
				<!-- <li class=""><a href="https://github.com/sckott"><img src="/img/glyphicons/glyphicons_401_github.png" height="18" width="18"></a></li> -->	
				<!-- <a property="account" alt="rss" href="http://feeds.feedburner.com/github/YWzL"><i class="icon-rss" rel="tooltip" data-placement="bottom" title="subscribe to an RSS feed for my lab notebook"></i></a> -->
				<!-- <a property="account" alt="rss" href="http://feeds.feedburner.com/github/YWzL"><span class="showtooltip" title="subscribe to an RSS feed for my lab notebook" placement="bottom"></span><i class="icon-rss"></i></a> -->

				<!-- <a href="http://feeds.feedburner.com/github/YWzL"><span rel="showtooltip" data-title="subscribe to an RSS feed for my lab notebook"></span><i class="icon-rss"></i></a> -->
		  <!-- </li> -->

		  <!-- <li class="divider-vertical"></li> -->
		  <!-- <a class="brand" href="http://scottchamberlain.info/">Scott Chamberlain</a> -->
		</ul>		
	  </div>
	</div>
  </div>
</div>