<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://schamberlain.github.com/scott">SAC</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://schamberlain.github.com/scott">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Me<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://schamberlain.github.com/scott/about.html" title="About Me" target="_blank">About</a></li>	
					<li class=""><a href="http://schamberlain.github.com/scott/cv.html" title="CV" target="_blank">Vita</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blogs<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://schamberlain.github.com/scott/blog.html" title="Lab Notebook" target="_blank">Lab Notebook</a></li>	
					<li class=""><a href="http://schamberlain.github.com/scott/blogs.html" title="Blogs" target="_blank">Blogs</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Code<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://schamberlain.github.com/scott/projects.html" title="Go to Repos" target="_blank">Repos@GitHub</a></li>	
					<li class=""><a href="http://schamberlain.github.com/scott/Rpackages.html" title="Go to R packages" target="_blank">R packages</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://schamberlain.github.com/scott/publications.html" title="Publications" target="_blank">Publications</a></li>	
					<li class=""><a href="http://schamberlain.github.com/scott/research.html" title="Research" target="_blank">Research</a></li>	
				</ul>
		  </li>	
		  <li class="divider-vertical"></li><li class="">
		  <li class="">
			<a href="http://schamberlain.github.com/scott/donors.html">Donors</a>
		  </li>
		  <li class="divider-vertical"></li><li class="">
		  <li class="">
			<a href="http://feeds.feedburner.com/github/YWzL" title="Go to feedburner" target="_blank">RSS</a> 
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://ropensci.org/" title="Go to rOpenSci on GitHub" target="_blank">rOpenSci</a></li>	
				</ul>
		  </li>		  
		  <li class="divider-vertical"></li>
		
			<!--<form class="navbar-search pull-left">
  				<input type="text" class="search-query" placeholder="Search-Coming Soon">
			</form>-->

			<form class="navbar-search pull-right" method=get action="http://google.com/search">
				<input type=hidden name=q value=site:schamberlain.github.com/scott/>
				<input type=text class=search-query name=q>
				<button type=submit class="btn btn-inverse">Search</button>
			</form>


		  <li class="divider-vertical"></li>
		</ul>		
	  </div>
	</div>
  </div>
</div>